@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

html, body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.debug {
    border: 1px solid red;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.container-fluid {
    min-width: 100%;
    margin: 0 auto;
    padding: 15px 0px;
}

.text-center {
    text-align: center;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.text-medium {
    font-size: .9rem;
}

.font-weight-normal {
    font-weight: 400;
}

.font-weight-medium {
    font-weight: 600;
}

.font-weight-bold {
    font-weight: bold;
}

.text-white {
    color: white;
}

.text-dark {
    color: #242424;
    font-weight: 600;
}

.text-small {
    font-size: .9rem;
}

.text-gray {
    color: #41475B;
}

.text-secondary {
    font-size: .9rem;
    color: #90a5c2;
}

.shadow {
    box-shadow: 10px 15px 15px -7px rgba(148, 148, 148, 0.75)
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.col-auto {
    width: fit-content;
}

.col-2 {
    width: 16.6666%;
}

.col-4 {
    width: 33.3333%;
}

.col-6 {
    width: 50%;
}

.m-4 {
    margin: 20px;
}

.-mt-10 {
    margin: -10px;
}

.my-10 {
    margin: 10px 0px;
}

.my-20 {
    margin: 20px 0px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-50 {
    margin-top: 50px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-20 {
    margin-right: 20px;
}

.p-5 {
    padding: 20px;
}

.bg-purple {
    background-color: #524cd3;
}

.float-right {
    float: right;
}

.justify-content-start {
    display: flex;
    justify-content: start;
}

.justify-content-end {
    display: flex;
    justify-content: flex-end;
}

.mx-auto {
    margin: 0 auto;
}

.w-full {
    width: 100%;
}

.h-fit {
    height: fit-content;
}

.h-50 {
    height: 50px;
}

.card {
    padding: 40px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(148, 148, 148, 0.1) 0px 4px 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group .form-control {
    color: rgb(75, 75, 75);
    height: 35px;
    border: none;
    outline: none;
    font-size: .9rem;
    text-indent: 7px;
    margin: 10px 0px;
    border-radius: 5px;
    padding: 3px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgb(196, 212, 214);
}

.form-group .form-control:focus {
    transition: .4s;
    border: 1px solid #524cd3;
}

.form-label {
    font-size: .9rem;
}

.btn-empty {
    width: fit-content;
    height: 40px;
    color: rgb(81, 81, 228);
    font-weight: 400;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: .9rem;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.btn-empty:hover {
    color: rgb(53, 53, 180);
}

.btn-login {
    width: 100%;
    height: 40px;
    color: white;
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 3px;
    padding: 0px 10px;
    cursor: pointer;
    margin: 7px 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #524cd3;
}

.btn-login:hover {
    color: white;
    transition: .4s;
    background-color: #3b35af;
}

.btn-link {
    width: fit-content;
    height: 40px;
    color: rgb(54, 54, 54);
    outline: none;
    font-size: .9rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    float: right;
}

.btn-link:hover {
    color: #3b35af;
    transition: .4s;
}

.btn-purple {
    width: fit-content;
    height: 40px;
    color: white;
    outline: none;
    border: none;
    font-size: .9rem;
    border-radius: 5px;
    padding: 0px 15px;
    cursor: pointer;
    margin: 7px 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #524cd3;
}

.btn-purple:hover {
    color: white;
    transition: .4s;
    background-color: #3b35af;
}

.btn-outline {
    width: fit-content;
    height: 40px;
    color: black;
    outline: none;
    border: 1px solid rgb(224, 233, 235);
    font-size: .9rem;
    border-radius: 5px;
    padding: 0px 15px;
    cursor: pointer;
    margin: 7px 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

.btn-outline:hover {
    transition: .4s;
    background-color: #f7f7fd;
    border: 1px solid rgb(196, 208, 209);
}

.btn-outline-select {
    width: fit-content;
    height: 40px;
    color: black;
    outline: none;
    border: 1px solid rgb(224, 233, 235);
    font-size: .9rem;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 20px;
    cursor: pointer;
    margin: 7px 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

.btn-outline-select:hover {
    transition: .4s;
    background-color: #f7f7fd;
    border: 1px solid rgb(196, 208, 209);
}

/* status */
.pending {
    width: 100px;
    border-radius: 25px;
    padding: 4px 10px;
    background-color: #FFC58B;
}

.success {
    width: 100px;
    border-radius: 25px;
    padding: 4px 10px;
    background-color: #81da7e;
}

.failed {
    width: 100px;
    border-radius: 25px;
    padding: 4px 10px;
    background-color: #f08989;
}

.processing {
    width: 100px;
    border-radius: 25px;
    padding: 4px 10px;
    background-color: #ffea8b;
}

.chip {
    color: #41475B;
    width: fit-content;
    font-size: .75rem;
    margin-right: 3px;
    margin-top: -18px;
}
/* status */

/* modal popup */

.modal {
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    z-index: 100;
    min-width: 115vw;
    min-height: 100vh; 
    margin-left: -100px;
    background-color: rgb(76, 99, 109);
    background-color: rgba(47, 63, 66, 0.4); 
}
  
.modal-content {
    height: fit-content;
    width: 400px;
    padding: 10px 25px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 5px;
    position: relative;
    background-color: #fefefe;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-title {
    font-weight: 600;
    margin-top: 10px;
}

.modal-line {
    width: 112.5%;
    height: 10px;
    margin-left: -25px;
    margin-top: -10px;
    border-bottom: 1px solid #f1f1f1;
}

.div-line {
    width: 100%;
    height: 10px;
    /* margin-left: -25px;
    margin-top: -10px; */
    border-bottom: 1px solid #ddeff3;
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* modal popup */

.line {
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #f1f1f1;
}

iframe {
    top: 0;
    left: 0;
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 2;
}

/* sidenav */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color:white;
    overflow-x: hidden;
    transition: 0.5s;
    border-right: 1px solid #ddeff3;
    padding-top: 20px;
}

.sidenav .logo {
    margin: 20px 25px;
}

.sidenav .logo .shop-logo {
    width: 70px;
    margin-left: 5px;
}

.sidenav .navs {
    margin-top: 20px;
}

.sidenav a {
    text-decoration: none;
    font-size: .9rem;
    color: #787f97;
    transition: 0.3s;
}

.sidenav .nav-item {
    width: 100%;
    float: left;
    cursor: pointer;
}

.sidenav .ion-icon {
    margin-left: 15px;
    margin-top: 5px;
}

.sidenav p {
    color: #5f6785;
    font-size: .9rem;
    margin-top: 15px;
    margin-left: 5px;
}

.sidenav .nav-item:hover {
    transition: .3s;
    background-color: #f3f2ff;
}

.tablinks {
    transition: .3s;
    border-left: 5px solid transparent;
}

.active {
    border-left: 4px solid #594eda;   
}

.sidenav .navs .text-active {
    color: #181818;
}

.sidenav .navs .logo-active {
    color: #181818;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#nav-items {
    margin-top: 20px;
}

#nav-icons {
    margin-top: 20px;
}

.ion-icon {
    color:  #787f97;
    width: 20px;
    height: 20px;
    padding: 10px;
    margin: 0 auto;
}
/* sidenav */

#main {
    width: 86%;
    transition: margin-left .5s;
    margin-top: -20px;
    margin-left: 200px;
}

#main .main-nav {
    padding: 10px;
    border-bottom: 1px solid #ddeff3;
}

#main .main-nav .nav-item {
    font-size: .9rem;
    margin-top: 16px;
    margin-right: 40px;
}

#main .main-nav .nav-item select {
    text-align: end;
    width: fit-content;
    border: 0;
    margin: 10px;
}

.tabcontent {
    min-height: 100vh;
    background-color: #F9FBFD;
    padding: 10px 30px;
    border: 0;
}

.tabcontent h3 {
    font-weight: 600;
}

.content {
    margin: 25px 0px;
}