@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

html, body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.text-dark {
    color: #424242;
}

.text-secondary {
    margin-top: 15px;
}

.text-number {
    margin-top: -28px;
}

.text-percentage {
    margin-top: 0px;
}

.text-green{
    /* color: greenyellow; */
    color: #2bca8d;
}

.text-gray {
    color: #41475B;
}

.card-stats {
    padding: 8px 24px;
}

.icon-div {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    padding: 5px;
    margin-top: 20px;
}

.icon-red {
    background: rgb(235,36,60);
    background: linear-gradient(90deg, rgba(235,36,60,1) 0%, rgba(246,89,108,1) 100%);
}

.icon-orange {
    background: rgb(251,121,55);
    background: linear-gradient(90deg, rgba(251,121,55,1) 0%, rgba(255,160,111,1) 100%);
}

.icon-green {
    background: rgb(45,206,169);
    background: linear-gradient(90deg, rgba(45,206,169,1) 0%, rgba(80,245,207,1) 100%);
}

.card-icon {
    color: white;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-left: 7px;
}

.card-chart-1 {
    padding: 25px;
}