h3 {
    text-transform: uppercase;
}

.order-number {
    margin-top: -12px;
    font-weight: 600;
    color: #3A3A3A;
}

.order-date {
    color: rgb(77, 77, 77);
}

.card-details {
    padding: 4px 24px;
}

.modal-shipping {
    margin-top: 50px;
}